/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    position: fixed;
    width: 100%;
    height: 46px;
    top: 0;
    background-color: #111;
    z-index: 1;
}

#nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    height: 46px;
}

#nav >li{
    display: inline-block;
    position:relative;
}

#nav >li >a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    padding: 0 50px;
    display: block;
    text-decoration: none;
    line-height: 46px;
}

#nav .subnav{
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

#nav li:hover .subnav{
    display: block;
    border-radius: 4;
}

#nav .subnav li{
    list-style-type: none;
    background-color: #fff;
}

#nav >li:hover >a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: #111;
}

#nav .subnav a{
    color: #111;
    line-height: 38px;
}



#header .search-btn{
    float: right;
    padding: 0 18px;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn:hover{
  background-color: #f44336;
  cursor: pointer;
}


.slide{
    position: relative;
    top: -22px
}
/* thiết lập style cho slideshow container */
 .slideshow-container {
   position: relative;
   margin: auto;
   width: 100%;
 }

/* ẩn hình ảnh cho phần tử slideshow */
 .mySlides {
   display: none;
   text-align: center;
   padding-top: 50px;
 
 }
/* thiết kế nút mũi tên*/
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
/* thiết kế nút mũi tên next nằm phía bên phải */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
/* Thiết lập style cho nội dung của mỗi phần tử slideshow */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 50px;
   width: 100%;
   text-align: center;
 }
/* Thiết lập style cho số hiển thị của phần tử */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
/* thiết lập style  nút tròn điều khiển*/
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 .nut {
    position: relative;
    top: -24px;
}
.active, .dot:hover {
   background-color: #717171;
 }
/* tạo hiệu ứng chuyển động fade */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 .content-section{
    max-width: 1000px;
    padding: 64px 25px;
    margin-left: auto;
    margin-right: auto;
}

 .header-section{
    text-align: center;
    height: 45px;
    font-size: 30px;
    margin: 10px;
    font-weight: 400;
}

.header-sub-section{
    text-align: center;
    font-style: italic;   
    height: 22px;
    opacity: 0.6;
    margin: 15px;
}

 .text-content{
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    padding-top: 45px;
    overflow: hidden;
}

#content .member-item{
    width: 25%;
    padding: 0 11px;
    float: left;
    position: relative;
    cursor: pointer;
}

#content .member-name {
    padding: 10px;
    text-align: center;
    position: absolute;
    background-color: rgba(88, 5, 69, 0.7);
    bottom: 15px;
    width: 91%;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 18px;
}

#content .member-name>p{
    font-size: 14px
}


#content .member-img{
    width: 100%;
    border-radius: 3px;
    height: 300px;
}

#tour{
    background-color: rgb(36 27 37 / 90%);
}

#tour .content-section{
    max-width: 900px;
    padding: 64px 25px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

#tour .header-section{
    text-align: center;
    height: 45px;
    font-size: 30px;
    margin: 10px;
    font-weight: 400;
}

#tour .header-sub-section{
    text-align: center;
    font-style: italic;   
    height: 22px;
    opacity: 0.6;
    margin: 15px;
}

#tour .ticket-list{
    background-color: #fff;
    list-style: none;
    margin: 16px 0;
}

#tour .ticket-item{
    color: #757575;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.5;
    position: relative;
    border-bottom: 1px solid #ccc;
}

#tour .status
{
    position: absolute;
    display: inline-block;
    line-height: 1.5;
    font-size: 15px;
    margin-left: 16px;
    background-color: #f44336 ;
    color: #fff;
    padding: 0 8px;
}

#tour .sub-status{
    float: right;
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    border-radius: 50px;
    margin-right: 16px;
}

#tour .ticket-place-list{
    padding: 16px 0;
    overflow: hidden;
    margin-left: -8px;
    margin-right: -8px;
}

#tour .ticket-place-item{
    width: 33.33333%;
    float: left;
    padding: 4px 8px;
    
}

#tour .ticket-img{
    width: 100%;
    height: 198px;
    border-radius: 1px;
}

#tour .content-ticket{
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    font-size: 15px;
    padding: 0 16px;
}

#tour .name{
    font-weight: bold;
    padding-top: 15px;
}

#tour .time{
    margin: 15px 0;
    opacity: 0.6;
}

#tour .describe{
    margin: 15px 0;
}


#tour .buy-ticket{
    padding: 8px 16px;
    margin-bottom: 15px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #757575;
}

#tour .buy-ticket:hover{
    background-color: #ccc;
    color: #000;
}

.contact-content{
    height: 100px;
}
.contact-info{
    float: left;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 12px;
    padding-left: 40px;
}
.contact-info-item{
    padding: 0 12px;
}

.contact-form{
    float: right;
    padding-right: 36px;
}
.contact-form :focus{
    outline: 1px solid rgb(126, 126, 240);
}

.form-top-item{
    float: left;
    padding: 6px 8px;  
}
.form-control{
    padding: 10px;
    width: 100%;
}

.form-botton{
    padding: 8px;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border-color: #000;
    padding: 8px 20px;
    float: right;
    margin-right: 8px;
    cursor: pointer;
}

#footer{
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#footer .social-contac{
    text-align: center;
    display: block;
}

  #footer a[class*="ti-"]{
    font-size: 24px;
    opacity: 0.6;
    color: #000;
  }
  
  #footer .author{
    opacity: 0.7;
    font-size: 15px;
    margin: 30px 0px;
}
  
.model{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.3);
    align-items: center;
    justify-content: center;
    display: none;
}



.model-contaner{
    width: 1200px;
    background-color: #fff;
    min-height: 200px;
}

.model-close {
    float: right;
    padding: 6px;
    font-size: 12px;

}


.model-close:hover{
    background-color: #f44336;
    color: #111;
}

.model-header {
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: rgb(9, 156, 95);
    color: #fff;
    font-size: 20px;
}

.model-body {
    padding: 12px;
}

.info-member_block{
	width: 100%;
	display: flex;
}

.info-member_left{
	width:50%;
	padding-right: 16px;
}

.info-member_right{
	width:50%;
	padding-left: 16px;
}

.card-info{
	display: flex;
	width: 100%
}

.flex-left{
	width: 50%;
	margin-right: 16px;
}

.flex-right{
	width: 50%;
	margin-left: 16px;
	
}

.model-info {
    line-height: 20px;
    font-weight: bold;
    padding: 12px ; 
}

.model-info .normal_ticket {
    padding-left: 57px;
}

input.model-input {
    width: 100%;
    font-size: 16px;
    padding: 8px;
   
}

.tbnPay{
	display: flex;
}

button.model-pay-btn {
    width: 30%;
    font-size: 18px;
    padding: 12px;
    color: #fff;
    background-color: rgb(9, 156, 95);
    border: none;
    margin: auto;
}

input.model-input:focus-visible{
    border: 1px solid #ccc;
}

button.model-pay-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.model-footer {
    height: 40px;
}
.model-info .normal_ticket{
  
}

.model-info .vip_ticket{
    padding-left: 30px;
    padding-right: 30px;
}

.model-help {
    float: right;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    padding: 8px 12px 8px 8px;
}

.model_member_infor{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.model_member-contaner{
    content: "";
    min-height: 20px;
    width: 1200px;
    background-color: #fff;
}

.model_member-header{
    height: 32px;
    
}

.profile_member_img{
    width: auto;
    height: 400px;
}


.header_title {
    text-align: center;
    line-height: 48px;
    font-style: italic;
    font-size: 24px;
    color: #a29595;
}

.model_member-body{
    padding: 14px 14px 0 14px;
    background-color: #fff;
    display: flex;
    
}

.profile_info{
    padding: 0 16px ;
    line-height: 24px;
    padding: 12px 16px;
}

.heghtt.ti-instagram {
    padding-bottom: 20px;
    font-size: 20px;
   
}

.heghtt.ti-twitter{
    padding-bottom: 20px;
    font-size: 20px;
   
}


.profile_info_contact{
    padding-top: 12px;
   
  
}


.model_member-footer{
    height: 16px;
}
.openModel{
    display: flex;
}

.modal_bill{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal_bill-container{
    width: 900px;
    background-color: #fff;
    min-height: 200px;
    padding: 0 8px;
 }   
.modal_bill-header{
    height: 40px;
 }   
.modal_bill-title{
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #5e5353;
 }   
.modal_bill-body{
    padding-top: 12px;
    padding-bottom: 30px;
    padding-left: 20px;
 }   
 .modal_bill-item{
     padding: 8px 8px;
 }
.modal_bill-place{

 }   
.modal_bill-listTicket{

 }   
.modal_bill-price{

 }   
.modal_bill-billID{

 }   
.modal_bill-transDate{

 }   
.modal_bill-sdt{

 }   
.modal_bill-typeTicket{

 }   
.modal_bill-showName{

 }   
.modal_bill-time{

 }   
.modal_bill-footer{
    padding-left: 20px;
 }   
.modal_bill-contact{
	
 }   
